<a href="https://colab.research.google.com/github/Lhekan0234/3MTT-Data-Visualization/blob/master/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [12]:
# Load the CSV file into a DataFrame
df = pd.read_csv("/content/Business Funding Data.csv", encoding='latin1')

In [13]:
# --- Preprocessing Steps ---

# Step 1: Handling Missing Values
# Justification: Fill missing categorical and numerical values with appropriate placeholders to ensure data completeness and prevent errors in later analysis.
df['Financing Type'].fillna('Unknown', inplace=True)
df['Financing Type Normalized'].fillna('Unknown', inplace=True)
df['Investors'].fillna('Unknown', inplace=True)
df['Investors Count'].fillna(0, inplace=True)

/tmp/ipython-input-1067038205.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Financing Type'].fillna('Unknown', inplace=True)
/tmp/ipython-input-1067038205.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Financing Type Normalized'].fillna('Unknown', inplace=True)
/tmp/ipython-input-1067038205.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Investors'].fillna('Unknown', inplace=True)
/tmp/ipython-input-1067038205.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Investors Count'].fillna(0, inplace=True)

In [14]:
# Step 2: Data Type Conversion and Cleaning
# Justification: The 'Found At' column is a timestamp and converting it to datetime allows for time-based analysis. The 'Amount' column is inconsistent and the 'Amount Normalized' column is a clean numeric equivalent, so 'Amount' can be dropped.
df['Found At'] = pd.to_datetime(df['Found At'])
df.drop(columns=['Amount'], inplace=True)

/tmp/ipython-input-384223209.py:3: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Found At'] = pd.to_datetime(df['Found At'])

In [15]:
# Step 3: Data Transformation
# Justification: Convert string representations of lists in 'Categories' and 'Source Urls' into actual Python lists for easier iteration and analysis.
import ast
df['Categories'] = df['Categories'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [16]:
# Justification: The 'Investors Count' column is a count and should be an integer.
df['Investors Count'] = df['Investors Count'].astype(int)

# Justification: Remove the 'Website Domain' and 'Source Urls' columns as they are not relevant to funding amount analysis and can introduce noise.
df.drop(columns=['Website Domain', 'Source Urls'], inplace=True)

In [17]:
# --- Re-explore the cleaned data to confirm the changes ---
print("\nCleaned Data Head:")
print(df.head())

print("\nCleaned Data Info:")
df.info()

Cleaned Data Head:
  Effective date                   Found At Financing Type  \
0            NaN  2024-03-14 01:00:00+01:00        Unknown
1            NaN  2024-05-31 02:00:00+02:00        Unknown
2            NaN  2024-07-24 02:00:00+02:00        Unknown
3            NaN  2024-05-01 02:00:00+02:00        Unknown
4            NaN  2024-04-11 02:00:00+02:00        Unknown

  Financing Type Normalized        Categories  \
0                   Unknown                []
1                   Unknown                []
2                   Unknown  [private_equity]
3                   Unknown                []
4                   Unknown                []

                                           Investors  Investors Count  \
0                                            Unknown                0
1  avivainvestors.com, lloydsbankinggroup.com, sa...                9
2                                            Unknown                0
3                              stackcapitalgroup.com                1
4                                chevychasetrust.com                1

   Amount Normalized
0         1900000000
1          522700000
2           53671000
3            8000000
4            1960000

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Effective date             6 non-null      object
 1   Found At                   26 non-null     object
 2   Financing Type             26 non-null     object
 3   Financing Type Normalized  26 non-null     object
 4   Categories                 26 non-null     object
 5   Investors                  26 non-null     object
 6   Investors Count            26 non-null     int64
 7   Amount Normalized          26 non-null     int64
dtypes: int64(2), object(6)
memory usage: 1.8+ KB

In [18]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('Cleaned_Business_Funding_Data.csv', index=False)

print("\nData successfully cleaned and saved to 'Cleaned_Business_Funding_Data.csv'.")

Data successfully cleaned and saved to 'Cleaned_Business_Funding_Data.csv'.